@charset "ISO-8859-1";

.homeWindow {
	background: #d9251c;
}

.homeWindow > .z-window-content {
	background: #d9251c;
}

.vTitleLayout {
	text-align: center;
}

.home-h1 {
	/*
	 * adopted from bootstrap-spacelab
	 */
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 36px;
	color: yellow;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}